* {
text-align: center;
}
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.image-container{
background-image: url("./images/headphones_hero_1.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 800px;
}
header nav{
    display: flex;    
}
ul {
    list-style-type: none;
}
button {
    height: 44px;
    width: 162px;
    border: none;
    border-radius: 22px;
    background-color: #FF6565;
}
.section1 {
    display: flex;
    align-items: center;
    height: 313px;
    width: 637px;
    margin-left: 382px;
    margin-top: 312.24px;
    
}